<div class="comments-section-wrapper">
  <div class="comments-heading">
    <p><b>Was ist Ihre Meinung zu diesem Artikel?</b></p>
  </div>
  <div class="comment-write-wrapper">
    <form name="comment-form" action="/newComment" method="post" class="comment-form">
      <label class="comment-label" for="commentInput">Kommentar</label>
      <textarea
        name="commentInput"
        title="Hinweis: Der Kommentar wird in Ihrem Namen angzeigt."
        maxlength="1000"
        id="commentInput"
      ></textarea>
      <input type="hidden" name="url" id="urlInput">
      <div id="character-count">0/1000</div>
      <div class="submit-button-wrapper">
        <button type="submit" class="comment-button">Kommentar veröffentlichen</button>
      </div>
    </form>
  </div>
  <div class="comments-wrapper">
    <% if (comments) { %>
      <% if (comments.length > 0) { %>
        <% for( let i = 0; i < comments.length; ++i ) { %>
          <div class="comment-info">
            <div class="commenting-user comment-element"><%= comments[i].username %></div>
            <div class="timestamp comment-element"><%= comments[i].timestamp %></div>
          </div>
          <div class="comment comment-element">
            <%= comments[i].comment %>
          </div>
        <% } %>
      <% } %>
    <% } %>

  </div>
</div>
<script src="/js/comments.js"></script>
