<link rel="stylesheet" href="../CSS/partialsStyle.css">
<footer>
    <div class="Kontakt">
        <div>
            <span>Tobias Schillin<br></span>
            <span>schilling.tobi-it22@it-dhbw-ravensburg.de</span>
        </div>
        <div>
            <span>Marcus Unglert<br></span>
            <span>unglert.marcus-it22@it-dhbw-ravensburg.de</span>
        </div>
        <div>
            <span>Daniel Balla<br></span>
            <span>balla.daniel-it22@it.dhbw-ravensburg.de</span>
        </div>
    </div>
</footer>