<footer>
    <form>

        <textarea id="comment-input" placeholder="Geben sie eine Kommentar ein"></textarea><br><br>

        <button type="button" onclick="addComment()">Kommentar hinzufügen</button>

    </form>

    <div class="Kontakt">
        <p>
            Tobias Schilling<br>
            schilling.tobi-it22@it-dhbw-ravensburg.de<br>
            Marcus Unglert<br>
            unglert.marcus-it22@it-dhbw-ravensburg.de<br>
            Daniel Balla<br>
            balla.daniel-it22@it.dhbw-ravensburg.de
        </p>
    </div>
</footer>