<nav class="nav-bar">
    <a class="logo" href="/"><span>Sports</span>Pulse</a>
    </label>
    <ul>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="bottom">Kontakt</a></li>
        <li class="expandable_li">
            <input type="checkbox" id="products_checkbox">
            <label for="products_checkbox">News</label>
            <ul class="dropdown">
                <li><a href="/skifahren">Skifahren</a></li>
                <li><a href="/klettern">Klettern</a></li>
                <li><a href="/bodybuilding">Bodybuilding</a></li>
            </ul>
        </li>
          <% if (authenticated) { %>
            <li><a href="/logout">Abmelden</a></li>
          <% } else{ %>  
            <li><a href="/login">Anmelden</a></li>
         <% } %>
    </ul>
</nav>