<nav>
    <a class="logo" href="/"><span>Sports</span>Pulse</a>

    </label>
    <ul>
        <li><a href="/abo">FAQ</a></li>
        <li><a href="bottom">Kontakt</a></li>
        <li class="expandable_li">
            <input type="checkbox" id="login_checkbox">
            <label for="login_checkbox">Konto</label>
            <ul class="dropdown">
                <li><a href="/login">Anmelden</a></li>
                <li><a href="/register">Registrieren</a></li>
                <li><a href="/abo">Abonnieren</a></li>
            </ul>
        </li>
        <li class="expandable_li">
            <input type="checkbox" id="products_checkbox">
            <label for="products_checkbox">News</label>
            <ul class="dropdown">
                <li><a href="/skifahren">Skifahren</a></li>
                <li><a href="/klettern">Klettern</a></li>
                <li><a href="/bodybuilding">Bodybuilding</a></li>
            </ul>
        </li>

    </ul>
</nav>