<link rel="stylesheet" href="../CSS/partialsStyle">
<nav>
    <a class="logo" href="/"><span>Sports</span>Pulse</a>
    <ul>
        <li><a href="/abo">Abonieren</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">FAQ</a></li>
        <li class="expandable_li">
            <input type="checkbox" id="products_checkbox">
            <label for="products_checkbox">News</label>
            <ul class="dropdown">
                <li><a href="/skifahren">Skifahren</a></li>
                <li><a href="/klettern">Klettern</a></li>
                <li><a href="/bodybuilding">Bodybuilding</a></li>
            </ul>
        </li>

    </ul>
</nav>