body,html{
    height:100%;
    overflow:hidden;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    flex-wrap:wrap;
}
.background{
    border: 1px solid rgba(255,255,255,.1);
    width: 10em;
    height: 10em;
    transform: rotate(45deg);
    margin: 2em;
    float: left;
    background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);
}
.inputcontainer{
    
    height:45%;
    width:30%;
    
    background-size:cover;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 6px 4px 8px -2px;
    border-style:groove;
    border-radius:20px 20px 20px 20px;

}
input[name="name"]{
   
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%,-15%);

}
input[name="firstname"]{
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%, -30%);
    
}
input[name="email"]{
    position:absolute;
    left:50%;
    top:60%;
    transform:translate(-50%, -45%);

}
input[name="password"]{
    position:absolute;
    left:50%;
    top:80%;
    transform:translate(-50%, -60%);
}
.inputcontainer .Abobutton{
    position:absolute;
    right:5%;
    bottom:5%;
    transform:translate(-5%,-5%)
}
.inputcontainer .AGB{
    color:white;
    position:absolute;
    left:5%;
    bottom:5%;
    transform:translate(-5%,-5%)
}
input[name="name"],
input[name="firstname"],
input[name="email"],
input[name="password"]{
    background-color:white;
    height:30px;
    border-radius:10px 10px 10px 10px;
    border-style:groove;
    color:black;
    
}
input[name="name"]:hover,
input[name="firstname"]:hover,
input[name="email"]:hover,
input[name="password"]:hover{
    border-color:white;
}

h1{
    text-align:center;
    color:white;
    font-size:x-large;
}
.Abobutton button{
    background-color:transparent;
    border-radius:10px 10px 10px 10px;
    border-style:groove;
    color:white;
    height:30px;
    width:80px;
    
}
.Abobutton:hover button{
    color:black;
    background-color:white;
}

