body{
    background-color:white;
}
  

input[name="username"]{
  margin-bottom:10px;
}
input[name="password"]{
  margin-bottom:10px;
}
input[name="username"],
input[name="password"]{
  border-style:groove;
  border-radius:10px 10px 10px 10px;
  background-color:transparent;
  color:white;
  padding-left:5px;
  font-size:large;
  width:320px;
  
}

h1{
  font-size:large;
  color:white;
  margin-top:-20px;
}
.submit button{
  background-color:transparent;
  color:white;
}
.submit:hover button{
  background-color:white;
  color:black;
}
