<!DOCTYPE html>
<html lang="de">
    
    <head>
        <meta charset="UTF-8">
        <title>history</title>
        <!-- importieren der stylesheets -->
        <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css">
        <link rel="stylesheet" type="text/css" href="/styles/article.css">
        <link rel="stylesheet" type="text/css" href="/styles/comments.css">
    </head>
    <body>
        <header>
            <%- include('../../partials/head'); %>
        </header>
        <div class="container">
            <img src="../img/history.jpg" alt="Sportbild">
            <!-- Artikelüberschrif -->
            <h1>Die Geschichte des Skisports</h1>
            <!-- Artikel -->
            <p>
                Der Skisport hat eine lange und faszinierende Geschichte, die bis in die Frühzeit der Menschheit zurückreicht. Die ersten Spuren des Skilaufs gehen auf prähistorische Zeiten zurück, als Jäger und Sammler auf ihren eigenen Beinen durch die schneebedeckten Landschaften wanderten.<br>
                Um die Anfänge der Geschichte des Skifahrens und die Pioniere unter den Skiläufern ranken sich zahlreiche Geschichten. Eine Höhlenzeichnung in Norwegen, deren Alter auf ca. 4.500 Jahre datiert wird, soll das Abbild eines Skiläufers darstellen. In Schweden wurde der vielleicht erste Ski gefunden, welcher ebenfalls 4.500 Jahre alt sein soll. Wo und wann ein Mensch das erste Mal auf Skiern stand und wer das Skifahren erfunden hat, ist nicht genau zu sagen. Fest steht jedoch, dass Völker in schneereichen Regionen schon vor tausenden Jahren auf die Idee kamen, längliche Bretter unter ihren Füßen zu befestigen, um nicht im tiefen Schnee zu versinken.<br><br>
                Historisch eindeutig belegt ist die Tatsache, dass die Ursprünge des heutigen Skisports in Norwegen liegen. Auch der Begriff „Ski“ ist norwegisch und bedeutet in etwa so viel wie „Scheit, gespaltenes Holz“. Im 18. Jahrhundert wurden in der norwegischen Armee bereits Ski-Einheiten aufgestellt und im Laufe der Jahre gelangte Skifahren als Freizeitbeschäftigung immer mehr ins Bewusstsein der norwegischen Bevölkerung. Ca. 1850 fanden in Christiana in Norwegen, dem späteren Oslo, die ersten Rennen der Skigeschichte statt und Anleitungen zum Skifahren erschienen ca. 1870, ebenfalls in Norwegen. In der Provinz Telemark entwickelte der Norweger Sondre Norheims eine Bindung, bei der lediglich die Spitze des Fußes am Ski fixiert ist: der Telemarkski erfreut sich bis heute großer Beliebtheit. Die zunehmende Popularität in Norwegen sowie die Grönland-Durchquerung des Polarforschers Fritjof Nansens im Jahre 1888 führten um die Jahrhundertwende in Mitteleuropa zu einem wahrhaften Ski-Boom. Nansens schrieb ein Buch über seine Reise durch Grönland welches zahlreiche junge Menschen begeisterte und sie anregte, den neuen Sport selbst auszuprobieren.<br>
                Die ersten Hinweise auf die Verwendung von Skiern stammen aus der Jungsteinzeit, als Menschen im heutigen Norwegen Ski als Transportmittel nutzten. In der Antike wurden Skier in Skandinavien als militärisches Fortbewegungsmittel eingesetzt.<br>
                Im Mittelalter entwickelte sich der Skisport in Norwegen weiter und wurde zu einem wichtigen Teil der Kultur des Landes. Die Norweger entwickelten verschiedene Arten von Skiern für verschiedene Zwecke, darunter auch Wettkampf-Skilaufen. Im 18. Jahrhundert verbreitete sich der Skisport in anderen Teilen Europas, insbesondere in den Alpenregionen, wo er zum Transportmittel für Bergführer und Händler wurde.<br>
                Der erste organisierte Skiwettkampf fand 1843 in Norwegen statt. Es war ein Rennen von einem Dorf zum anderen und wurde von einem Priester organisiert. Der Skisport gewann in der Folgezeit an Beliebtheit und wurde in Norwegen zu einem Volkssport.<br>
                Im frühen 20. Jahrhundert begann der Skisport auch außerhalb Europas populär zu werden. In den USA wurde der erste Skiclub 1905 gegründet, und im Jahr 1932 fand das erste Olympische Skirennen statt. Der Skisport erlebte in den folgenden Jahren einen enormen Aufschwung, und es wurden immer neue Technologien und Materialien entwickelt, um die Leistungsfähigkeit der Skifahrer zu verbessern.<br>
                Heute ist der Skisport eine der beliebtesten Wintersportarten weltweit. Es gibt viele verschiedene Disziplinen, darunter Abfahrtslauf, Slalom, Riesenslalom, Super-G, Skispringen und Freestyle-Skiing. Der Skisport hat auch einen wichtigen Platz in der Popkultur und wird oft in Filmen und Fernsehsendungen gezeigt.<br>
                Insgesamt hat der Skisport eine lange und reiche Geschichte, die bis in die Frühzeit der Menschheit zurückreicht. Von prähistorischen Jägern und Sammlern bis hin zu den modernen Olympischen Spielen hat der Skisport eine lange und faszinierende Geschichte, die die Menschen auf der ganzen Welt begeistert.<br>
        
            </p>
            <%- include('../../partials/comment'); %>
        </div>
        <!-- kleine Bilder am unteren Bildschirmrand, die auf die anderen Artikel des Skisports weiterleiten -->
        <div class="small-images">
            <a href="/skifahren/olympia">
                <img src="../img/olympic.jpg">
                <p>die olympischen Winterspiele</p>
            </a>
            <a href="/skifahren/worldcup">
                <img src="../img/weltmeisterschaft.jpg">
                <p>Skisport Weltmeisterschaft</p>
            </a>
        </div>
        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
    </body>
</html>