<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>olympia</title>
    <!-- importieren der stylesheets -->
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css">
    <link rel="stylesheet" type="text/css" href="/styles/article.css">
    <link rel="stylesheet" type="text/css" href="/styles/comments.css">

</head>

<body>
    <!-- Dropdownmenü wird der Seite hinzugefügt -->
    <header>
        <%- include('../../partials/head'); %>
    </header>
    <div class="container">
        <img src="../img/winterspiele.jpg" alt="Sportbild">
        <h1>Die olympischen Winterspiele</h1>
        <p>
            Die Olympischen Winterspiele sind ein internationaler Sportwettbewerb, der alle vier Jahre stattfindet und
            Athleten aus der ganzen Welt in verschiedenen Wintersportdisziplinen zusammenbringt. Die Winterspiele sind
            ein wichtiger Teil der olympischen Bewegung, die 1896 in Athen, Griechenland, gegründet wurde.<br>
            Die ersten Olympischen Winterspiele wurden 1924 in Chamonix, Frankreich, ausgetragen und umfassten sechs
            Disziplinen: Langlauf, Skispringen, Nordische Kombination, Eiskunstlauf, Eisschnelllauf und Curling. In den
            folgenden Jahren wurden immer mehr Disziplinen hinzugefügt, darunter Abfahrtslauf, Slalom und Biathlon.<br>
            Heute umfassen die Olympischen Winterspiele eine Vielzahl von Disziplinen, darunter Ski Alpin,
            Freestyle-Skiing, Snowboard, Eiskunstlauf, Eisschnelllauf, Bob, Rodeln, Skeleton, Skispringen, Nordische
            Kombination und Biathlon. Die Athleten kommen aus der ganzen Welt, und die Spiele bieten eine Plattform für
            den internationalen Wettbewerb und die Förderung des olympischen Geistes.<br>
            Die Olympischen Winterspiele haben im Laufe der Jahre viele denkwürdige Momente hervorgebracht, von der
            spektakulären Leistung der Athleten bis hin zu unvergesslichen Momenten der Einheit und Brüderlichkeit
            zwischen den Nationen. Die Spiele bieten eine Gelegenheit für Sportler, ihr Bestes zu geben, und für
            Zuschauer, die Schönheit des Wintersports zu erleben.<br>
            Neben der Förderung des Sports und des internationalen Verständnisses haben die Olympischen Winterspiele
            auch einen positiven Einfluss auf die Gastgeberländer. Sie fördern die lokale Wirtschaft, schaffen
            Arbeitsplätze und verbessern die Infrastruktur und die öffentlichen Einrichtungen.<br>
            Insgesamt haben die Olympischen Winterspiele einen enormen Einfluss auf die Welt des Sports und auf die
            Kulturen und Gemeinschaften, die sie beherbergen. Sie sind eine Feier des Sports und der Menschlichkeit und
            ein Symbol für die Bedeutung von Fairness, Respekt und Zusammenarbeit in der Welt.<br>

        </p>
        <%- include('../../partials/comment'); %>
    </div>
    <!-- kleine Bilder am unteren Bildschirmrand, die auf die anderen Artikel des Skisports weiterleiten -->
    <div class="small-images">
        <a href="/skifahren/history">
            <img src="../img/history.jpg">
            <p>Geschichte des Skisports</p>
        </a>
        <a href="/skifahren/worldcup">
            <img src="../img/weltmeisterschaft.jpg">
            <p>Skisport Weltmeisterschaft</p>
        </a>
    </div>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
</body>

</html>