<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Abo.css" />
    <meta charset="UTF-8" />
    <meta name="vieport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>

    <div class="inputcontainer">
      <h1>Abonieren</h1>
      <div class="Loginbox">
        <input
          type="text"
          placeholder="E-Mail"
          name="email"
          autocomplete="off"
          required
        />
        <input
          type="text"
          placeholder="Kreditkartennummer"
          name="kreditkartennummer"
          autocomplete="off"
          required
        />
        <input
          type="text"
          placeholder="CVC"
          name="CVC"
          autocomplete="off"
          required
        />
        <input
          type="text"
          placeholder="Gültigkeitsdatum"
          name="gültig"
          autocomplete="off"
          required
        />
      </div>
      <div class="Abobutton">
        <button onclick="testData()">submit</button>
      </div>
      <div class="AGB">
        <input type="checkbox" id="agb" name="agb" value="accept" required />
        AGB akzeptieren
      </div>
    </div>

    <script src="Abo.js"></script>
  </body>
</html>
