<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bodybuilding-Overview</title>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/article-overview.css"/>
</head>
<body>
<%- include('../partials/head'); %>
<div class="container">
    <h1>Bodybuilding</h1>
    <div class="box1">
        <a href="/bodybuilding/grundlagen">
            <img src="/img/bodybuilding-gr.jpg"></button>
        </a>
        <h2>Die Grundlagen des Bodybuildings</h2>
        <p>
            In diesem Artikel werden die
            Grundlagen des Bodybuildings erklärt, damit Anfänger einen Einstieg in
            die Welt des Bodybuildings bekommen.
        </p>
    </div>
    <div class="box2">
        <a href="/bodybuilding/protein">
            <img src="/img/whey.jpg"></button>
        </a>
        <h2>Die Rolle von Proteinen im Bodybuilding</h2>
        <p>
            Welche Rolle spielt Protein im Bodybuilding?
            In folgendem Artikel wird über die Rolle des Proteins aufgeklärt.
        </p>
    </div>
    <div class="box3">
        <a href="/bodybuilding/entspannung">
            <img src="/img/Bodybuilding-ent.jpg"></button>
        </a>
        <h2>Die Bedeutung von Regeneration im Bodybuilding</h2>
        <p>
            Das Bodybuilding ist eine anspruchsvolle Sportart, die eine sorgfältige Balance
            zwischen Training, Ernährung und Regeneration erfordert.
            Hier wird die Bedeutung der Regeneration im Bodybuilding erläutert.
        </p>
    </div>
</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>