<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/startseite.css">
    <link rel="stylesheet" href="Skifahren.css">
</head>
<body>
<%- include('../partials/head'); %>

</div>
<h1>Bodybuilding</h1>
<div class="bildcontainer">
    <div class="box1">
        <button type="button" href=""><img src="/img/bodybuilding-gr.jpg"></button>
        <h2>Die Grundlagen des Bodybuildings</h2>
        <p>
            In diesem Artikel werden die
            Grundlagen des Bodybuildings erklärt, damit Anfänger einen Einstieg in
            die Welt des Bodybuildings bekommen.
        </p>
    </div>
    <div class="box2">
        <button type="button" href=""><img src="/img/whey.jpg"></button>
        <h2>Die Rolle von Proteinen im Bodybuilding</h2>
        <p>
            Welche Rolle spielt Protein im Bodybuilding?
            In folgendem Artikel wird über die Rolle des Proteins aufgeklärt.
        </p>
    </div>
    <div class="box3">
        <button type="button" href=""><img src="/img/Bodybuilding-ent.jpg"></button>
        <h2>Die Bedeutung von Regeneration im Bodybuilding</h2>
        <p>
            Das Bodybuilding ist eine anspruchsvolle Sportart, die eine sorgfältige Balance
            zwischen Training, Ernährung und Regeneration erfordert.
            Hier wird die Bedeutung der Regeneration im Bodybuilding erläutert.
        </p>
    </div>
</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>