<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css" />
    <link rel="stylesheet" type="text/css" href="/styles/article-overview.css" />
  </head>
  <body>
    <main class="content-wrapper">
      <div class="article-wrapper">
        <div class="article-header">
          <h2>Free Climbing</h2>
        </div>
        <img alt="Bild von einem Free-Climber an einer hohen Felswand." />
        <div class="article-teaser">
          <b>Was ist Free Climbing?</b> Free Climbing ist eine Form des Kletterns, bei
          der der Kletterer nur seine Hände, Füße und seinen Körper benutzt, um
          Fortschritte zu machen und sich in der vertikalen Welt zu halten. Free
          Climbing wird sowohl mit als auch ohne Seil durchgeführt, obwohl die
          meisten Kletterer ein Seil zur persönlichen Sicherheit verwenden und
          um die schwerwiegenden und tödlichen Auswirkungen der Schwerkraft zu
          vermeiden.
        </div>
        <div class="article-header">
          <h2>Bouldern</h2>
        </div>
        <img alt="Bild von einem Free-Climber an einer hohen Felswand." />
        <div class="article-teaser">
          <b>Was ist Free Climbing?</b> Free Climbing ist eine Form des Kletterns, bei
          der der Kletterer nur seine Hände, Füße und seinen Körper benutzt, um
          Fortschritte zu machen und sich in der vertikalen Welt zu halten. Free
          Climbing wird sowohl mit als auch ohne Seil durchgeführt, obwohl die
          meisten Kletterer ein Seil zur persönlichen Sicherheit verwenden und
          um die schwerwiegenden und tödlichen Auswirkungen der Schwerkraft zu
          vermeiden.
        </div>
        <div class="article-header">
          <h2>Kletterausrüstung</h2>
        </div>
        <img alt="Bild von einem Free-Climber an einer hohen Felswand." />
        <div class="article-teaser">
          <b>Was ist Free Climbing?</b> Free Climbing ist eine Form des Kletterns, bei
          der der Kletterer nur seine Hände, Füße und seinen Körper benutzt, um
          Fortschritte zu machen und sich in der vertikalen Welt zu halten. Free
          Climbing wird sowohl mit als auch ohne Seil durchgeführt, obwohl die
          meisten Kletterer ein Seil zur persönlichen Sicherheit verwenden und
          um die schwerwiegenden und tödlichen Auswirkungen der Schwerkraft zu
          vermeiden.
        </div>
      </div>
    </main>
  </body>
</html>
