<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
    <link rel="stylesheet" type="text/css" href="/styles/startseite.css">
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css">
    <meta name="vieport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <%- include('../partials/head'); %>
</header>
<div class="buttoncontainer">
    <div class="insta">
        <button class="button" onclick="window.location.href='https://www.instagram.com'">
        </button>
        <span class="instagram">Instagram</span>
    </div>
    <div class="twitter">
        <button class="button" onclick="window.location.href='https://twitter.com/'">
        </button>
        <span class="twitter">Twitter</span>
    </div>
    <div class="facebook">
        <button class="button" onclick="window.location.href='https://de-de.facebook.com/'">
        </button>
        <span class="facebook">facebook</span>
    </div>
</div>
<div class="container">
    <article>
        <h1>Herzlich Wilkommen bei SportsPulse!</h1>
        <p>
            Was ist SportsPulse?<br>
            <span>Sports</span>Pulse ist ein interaktiver Sportnewsletter, in welchem Sie auf dem aktuellen Stand in
            verschiedenen Sportarten gehalten werden.<br>
            Von Skifahren, über Klettern, bis hin zum Bodybuilding.<br><br>
            Wenn Sie auf News gehen, erscheint Ihnen ein Dropdownmenü mit den Sportarten, über welche Sie auf unserer
            Seite
            mehr erfahren können.<br>
            Schließen Sie ein Abonement ab, um zu den einzelnen Seiten zusätzliche Quizfragen zu erhalten mit tollen
            Preisen.<br>
            Klicken Sie hierfür auf das Feld mit dem Name abonieren und füllen sie das Formular aus, das Ihnen
            erscheint.<br><br>
            Folgen Sie uns auf unseren SocialMedia Plattformen, welche rechts verlinkt sind und schreiben Sie uns dort
            gerne
            bei Fragen.<br>
            In der Fußzeile finden Sie auch unsere Namen, sowie E-mail Adressen, über welche wir unter der Woche
            ebenfalls
            erreichbar sind.<br>
            Wir freuen und auch über Ihr Feedback und ihre Kommentare zu den Artikeln. Nutzen Sie hierfür die
            Kommentarfunktion am unteren Ende der Seite.<br>
            Vielen Dank, dass Sie sich für unsere Seite entschieden haben und wir freuen uns auf ein schnelles
            Wiedersehen.
        </p>
    </article>
    <div class="images">
    <h2>Gerade angesagt:</h2>
    <a href="/klettern/varianten">
        <img src="/img/climbing_variants.jpg" alt="klettern">
        <p>Klettervarianten</p>
    </a>
    <a href="/skifahren/worldcup">
        <img src="/img/weltmeisterschaft.jpg" alt="ski">
        <p>Der Weltcup</p>
    </a>
    <a href="/bodybuilding/grundlagen">
        <img src="/img/bodybuilding-gr.jpg">
        <p>Die Grundlagen des Bodybuildings</p>
    </a>
    </div>
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>
