body {
  background-color: #f2f2f2;
  flex-wrap: wrap;
  flex-direction: row;
}

form h1 {
  font-size: large;
  color: white;
  margin-top: -20px;
}


h1 {
  text-align: center;
  font-size: xx-large;
}

.bildcontainer {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  position: flex;
  text-align: center;
  color: black;
}
.box1 {
  margin-right: 5px;
  background-color: white;
  text-align: center;
  position: flex;
  height: auto;
  margin-left: 5px;
  width: 470px;
 
}
.box2 {
  margin-right: 5px;
  background-color: white;
  text-align: center;
  position: flex;
  height: fit-content;
  margin-left: 5px;
  width: 470px;
  
}
.box3 {
  margin-right: 5px;
  background-color: white;
  text-align: center;
  position: flex;
  height: fit-content;
  margin-left: 5px;
  width: 470px;
  
}
.box1,
.box2,
.box3 {
  border-style: groove;
  box-shadow: 2px 3px 2px -2px;
}

