/*wiederholende elemente definieren*/
:root {
    --background-color: white;
    --accent-color: #6e529d;
    --text-color: black;
    --navbar-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: v var(--text-color);
}

head {
    margin-bottom: 10px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header, footer {
    background-color: #ccc;
}

footer {
    background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
}

footer .background {
    border: 1px solid rgba(255, 255, 255, .1);
    width: 10em;
    height: 10em;
    transform: rotate(45deg);
    margin: 2em;
    float: left;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}

span {
    color: red;
}

/*anordnung für den kontakt im footer*/
footer .Kontakt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.Kontakt div {
    text-align: center;
}

.Kontakt span {
    font-size: 12px;
    color: white;
}

button {
    margin-top: -50px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;

}

form button:hover {
    background-color: white;
    color: black;
}

form {
    margin-top: 30px;
    text-align: center;
}

main {
    padding: 20px;
}

/*styling für die navigations leiste*/
nav {
    height: var(--navbar-height);
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li {
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
    z-index: 99;
}

nav li:hover {
    background: var(--accent-color);

}

nav ul a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

body > nav:nth-child(1) {
    margin-bottom: 20px;
}

.expandable_li > label {
    margin-bottom: 0;
}

/*dropdown im nav*/
.dropdown {
    height: min-content;
    width: 150px;
    background: var(--background-color);
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: var(--navbar-height);
}

.dropdown li {
    height: 70px;
    width: 100%;
}

.dropdown li a {
    justify-content: flex-start;
    padding-left: 20px;
    width: calc(100% - 20px);
}

nav li:hover .dropdown {
    display: flex;
}

nav input[type="checkbox"] {
    display: none;
}

.expandable_li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_button {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

/*verhalten für kleinere screens*/
/*nav items werden unterhalb des logos positioniert*/
/*dropdown öffnet sich unterhalb der nav items in einer reihe*/
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
    }
    nav .logo {
        margin: 20px 0;
    }
    nav ul {
        align-items: center;
    }

    .dropdown {
        justify-content: center;
        top: 100%;
        flex-direction: row;
    }

    .dropdown li {
        background: white;
        position: relative;
        padding: 0 27px;
        left: 6px;
    }

    .dropdown li a {
        position: relative;
        right: 10px;
    }

    .dropdown > li:nth-child(3) {
        padding-right: 0px;
    }

    .dropdown > li:nth-child(3) > a:nth-child(1) {
        right: 25px;
    }

    .dropdown > li:nth-child(3) > a:nth-child(1) {
        right: 20px;
    }
}





