body{
    background-color:#f2f2f2;
    flex-wrap:wrap;
    flex-direction:row;
}
  

input[name="username"]{
  margin-bottom:10px;
}
input[name="password"]{
  margin-bottom:10px;
}
input[name="username"],
input[name="password"]{
  border-style:groove;
  border-radius:10px 10px 10px 10px;
  background-color:transparent;
  color:black;
  padding-left:5px;
  font-size:large;
  width:320px;
  
}
input[name="username"]:hover,
input[name="password"]:hover{
  border-color:white;
}
form h1{
  font-size:large;
  color:white;
  margin-top:-20px;
}
.submit button{
  background-color:transparent;
  color:white;
}
.submit:hover button{
  background-color:white;
  color:black;
}

h1{
  text-align:center;
  font-size:xx-large;
}
.olympic{
  
  position:relative;
  text-align:center;
  margin-top:5%;
  
}
.bildcontainer{
  display:flex;
  flex-wrap:wrap;
 
}

h2{
  position:flex;
  text-align:center;
  color:black;
 
  
  
}
.box1{
  
  
  margin-right:5px;
  background-color:white;
  width:fit-content;
  text-align:center;
  position:flex;
  height:fit-content;
  margin-left:5px;
  width:470px;
  margin-top:50px;

}
.box2{
  margin-right:5px;
  background-color:white;
  width:fit-content;
  text-align:center;
  position:flex;
  height:fit-content;
  margin-left:5px;
  width:470px;
  margin-top:50px;
}
.box3{
  margin-right:5px;
  background-color:white;
  width:fit-content;
  text-align:center;
  position:flex;
  height:fit-content;
  margin-left:5px;
  width:470px;
  margin-top:50px;
}
.box1,
.box2,
.box3{
  border-style:groove;
  box-shadow:2px 3px 2px -2px;
}





