body {
    background-color: #f2f2f2;
}

span {
    color: red;
}

button {
    margin-top: -50px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

/*container für social media links*/
.buttoncontainer {
    width: 200px;
    position: relative;
    top: 20vh;
    z-index: 2;
}

.insta button,
.twitter button,
.facebook button {
    position: relative;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 20px;
}

.insta .instagram,
.twitter .twitter,
.facebook .facebook {
    visibility: hidden;
    width: 60px;
    color: black;
    background-color: transparent;
    text-align: center;
    margin-left: 0;
    font-size: small;
}

.insta:hover .instagram,
.twitter:hover .twitter,
.facebook:hover .facebook {
    visibility: hidden;
}

.insta {
    background-image: url("../Img/instabutton.jpg");
    background-repeat: no-repeat;
}

.twitter {
    background-image: url("../Img/twitterlogo.png");
    background-repeat: no-repeat;
}

.facebook {
    background-image: url("../Img/facebook.png");
    background-repeat: no-repeat;
}

.insta:hover, .twitter:hover, .facebook:hover {
    transform: translate(5px);
}

/*anordnung des containers schmaler als body*/
/*balken links/rechts*/
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: -9vh auto 10vh;
    background-color: white;
    padding: 40px;
    max-width: 1200px;
    z-index: 1;
    border-radius: 5px;
}

article {
    margin-bottom: 40vh;
}

article h1 {
    font-size: x-large;
    text-align: center;
    line-height: 2;
}

article p {
    text-align: center;
    font-size: large;
    margin-left: 9vh;
    margin-right: 9vh;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -25vh;
}

.images h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.images a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.images img {
    width: 300px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border-color: black;
}

.images p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}


.images img:hover {
    transform: scale(1.1);
}


/*automatische anpassung bei kleinerem fenster*/
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .images a {
        margin: 5px;
    }

    .images img {
        width: 200px;
    }

}



