<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tipps und Tricks für Kletteranfänger und -fortgeschrittene</title>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css" />
    <link rel="stylesheet" type="text/css" href="/styles/article.css" />
    <!--    <link rel="stylesheet" type="text/css" href="/styles/styles.css">-->
  </head>
  <body>
    <header><%- include('../../partials/head'); %></header>
    <div class="container">
      <img src="/img/Bodybuilding-ent.jpg" alt="Sportbild" />
      <h1>Tipps und Tricks für Kletteranfänger und -fortgeschrittene</h1>
      <p>
        Klettern ist eine spannende und vielseitige Sportart, die sowohl
        körperliche als auch geistige Fähigkeiten fordert und fördert. Ob in der
        Halle oder am Fels, ob allein oder mit Freunden, ob als Hobby oder als
        Leidenschaft - Klettern bietet für jeden etwas. Doch wie fängt man am
        besten an? Und wie kann man sich verbessern? Hier sind einige Tipps und
        Tricks für Kletteranfänger und -fortgeschrittene.<br />
        <span>Die richtige Ausrüstung</span><br />
        Um zu klettern, braucht man nicht
        viel. Die wichtigsten Teile sind ein Klettergurt, ein Kletterseil, ein
        Sicherungsgerät, ein Karabiner und Kletterschuhe. Diese kann man sich
        meist in der Kletterhalle ausleihen oder kaufen. Für das Klettern am
        Fels kommen noch weitere Ausrüstungsgegenstände hinzu, wie z.B.
        Expressschlingen, Bandschlingen, Klemmgeräte oder Haken. Diese sollte
        man sich von einem erfahrenen Kletterer erklären und zeigen lassen.<br />
        <span>Die richtige Technik</span><br />
        Klettern ist mehr als nur Kraft. Es
        geht vor allem um Technik, Beweglichkeit und Balance. Um seine
        Klettertechnik zu verbessern, sollte man folgende Punkte beachten:
        <ul>
            <li>Sehen, Beobachten, Begreifen, Visualisieren: Bevor man eine Route klettert, sollte man sie sich genau anschauen und die möglichen Bewegungen im Kopf durchgehen.</li>
            <li>Die Wand nutzen: Man sollte nicht nur die Griffe, sondern auch die Struktur der Wand nutzen, um sich abzustützen oder zu treten.</li>
            <li>Die Arme strecken: Man sollte versuchen, die Arme so oft wie möglich gestreckt zu halten, um Kraft zu sparen. Die Kraft kommt aus den Beinen.</li>
        </ul><br />
      </p>
      <%- include('../../partials/comment'); %>
    </div>
    <div class="small-images">
      <a href="/bodybuilding-ent">
        <img src="/img/whey.jpg" />
        <p>Die Rolle von Proteinen im Bodybuilding</p>
      </a>
      <a href="/bodybuilding-gr">
        <img src="/img/bodybuilding-gr.jpg" />
        <p>Die Grundlagen des Bodybuildings</p>
      </a>
    </div>
    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
