<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tipps und Tricks für Kletteranfänger</title>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css" />
    <link rel="stylesheet" type="text/css" href="/styles/article.css" />
    <link rel="stylesheet" type="text/css" href="/styles/comments.css" />
  </head>
  <body>
    <header><%- include('../../partials/head'); %></header>
    <div class="container">
      <img src="/img/climbing_intro.jpg" alt="Kletterer am Berg" />
      <h1>Tipps und Tricks für Kletteranfänger</h1>
      <p>
        Klettern ist eine spannende und vielseitige Sportart, die sowohl
        körperliche als auch geistige Fähigkeiten fordert und fördert. Ob in der
        Halle oder am Fels, ob allein oder mit Freunden, ob als Hobby oder als
        Leidenschaft - Klettern bietet für jeden etwas. Doch wie fängt man am
        besten an? Und wie kann man sich verbessern? Hier sind einige Tipps und
        Tricks für Kletteranfänger und -fortgeschrittene.
      </p>
        <span class="subheading">Die richtige Ausrüstung</span>
      <p>
        Um zu klettern, braucht man nicht
        viel. Die wichtigsten Teile sind ein Klettergurt, ein Kletterseil, ein
        Sicherungsgerät, ein Karabiner und Kletterschuhe. Diese kann man sich
        meist in der Kletterhalle ausleihen oder kaufen. Für das Klettern am
        Fels kommen noch weitere Ausrüstungsgegenstände hinzu, wie z.B.
        Expressschlingen, Bandschlingen, Klemmgeräte oder Haken. Diese sollte
        man sich von einem erfahrenen Kletterer erklären und zeigen lassen.
      </p>
        <span class="subheading">Die richtige Technik</span>
      <p>
        Klettern ist mehr als nur Kraft. Es
        geht vor allem um Technik, Beweglichkeit und Balance. Um seine
        Klettertechnik zu verbessern, sollte man folgende Punkte beachten:
      </p>
        <ul class="enumeration">
            <li class="list-point">Sehen, Beobachten, Begreifen, Visualisieren: Bevor man eine Route klettert, sollte man sie sich genau anschauen und die möglichen Bewegungen im Kopf durchgehen.</li>
            <li class="list-point">Die Wand nutzen: Man sollte nicht nur die Griffe, sondern auch die Struktur der Wand nutzen, um sich abzustützen oder zu treten.</li>
            <li class="list-point">Die Arme strecken: Man sollte versuchen, die Arme so oft wie möglich gestreckt zu halten, um Kraft zu sparen. Die Kraft kommt aus den Beinen.</li>
        </ul>
        <span class="subheading">Das richtige Training</span>
      <p>
        Um seine Kletterleistung zu steigern, reicht es nicht aus, nur zu klettern. Man sollte auch andere Aspekte trainieren, wie z.B.:
      </p>
        <ul class="enumeration">
          <li class="list-point">Kraft: Um mehr Kraft zu entwickeln, kann man spezielle Übungen machen, wie z.B. Liegestütze, Klimmzüge oder Fingerboard2. Dabei sollte man aber immer auf eine gute Ausführung achten und nicht übertreiben.</li>
          <li class="list-point">Ausdauer: Um länger klettern zu können, muss man seine Ausdauer verbessern. Dazu kann man z.B. Intervalltraining machen oder längere Routen klettern. Auch andere Sportarten wie Laufen oder Radfahren können helfen.</li>
          <li class="list-point">Beweglichkeit: Um flexibler zu werden, muss man sich dehnen. Das sollte man vor und nach dem Klettern tun, aber auch an trainingsfreien Tagen. Dabei sollte man alle Muskelgruppen berücksichtigen und nicht zu stark belasten.</li>
        </ul><br />
      
      <%- include('../../partials/comment'); %>
    </div>
    <div class="small-images">
      <a href="/klettern/varianten">
        <img src="/img/climbing_variants.jpg" />
        <p>Varianten von Klettern als Sportart</p>
      </a>
      <a href="/klettern/klettergebiete">
        <img src="/img/climbing_area.jpg" />
        <p>Bekannte Klettergebiete in Deutschland oder Europa</p>
      </a>
    </div>
    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
