<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bekannte Klettergebiete in Deutschland oder Europa</title>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css" />
    <link rel="stylesheet" type="text/css" href="/styles/article.css" />
    <link rel="stylesheet" type="text/css" href="/styles/comments.css" />
  </head>
  <body>
    <header><%- include('../../partials/head'); %></header>
    <div class="container">
      <img src="/img/climbing_area.jpg" alt="Kletterer am Berg" />
      <h1>Bekannte Klettergebiete in Deutschland oder Europa</h1>
      <p>
        Deutschland und Europa bieten eine Vielzahl von Klettergebieten und
        -routen für jeden Geschmack und jedes Niveau. Ob man lieber an Fels oder
        an Sandstein klettert, ob man kurze oder lange Routen bevorzugt, ob man
        sportlich oder alpin unterwegs ist - hier findet man garantiert etwas
        Passendes. Hier sind einige der besten Klettergebiete und -routen in
        Deutschland oder Europa.
      </p>
      <span class="subheading">Klettern im Frankenjura</span>
      <p>
        Das Frankenjura ist das bekannteste Klettergebiet Deutschlands und auch
        international bekannt. Mit über 12.000 verschiedenen Kletterrouten ist
        es zudem eines der größten Klettergebiete der Welt. Das Frankenjura
        zeichnet sich durch seine charakteristischen Felsformationen aus, die
        oft Löcher, Leisten oder Sloper bieten. Die Routen sind meist kurz und
        knackig, aber auch sehr abwechslungsreich und anspruchsvoll. Einige der
        berühmtesten Routen sind z.B. Action Directe (11), Wallstreet (10-) oder
        Magnet (9+).
      </p>
      <span class="subheading">Klettern in Frankreich</span>
      <p>
        Frankreich ist eines der beliebtesten Kletterziele in Europa, denn es
        bietet eine enorme Vielfalt an Klettergebieten und -stilen. Ob man
        lieber an Kalk oder an Granit klettert, ob man steile oder flache Wände
        mag, ob man bunt oder grau bevorzugt - hier findet man alles. Einige der
        berühmtesten Klettergebiete sind z.B. Fontainebleau, das als Mekka des
        Boulderns gilt, Verdon, das für seine atemberaubenden Schluchten bekannt
        ist, oder Ceüse, das als eines der schönsten Sportklettergebiete der
        Welt gilt.
      </p>
      <span class="subheading">Klettern in Spanien</span>
      <p>
        Spanien ist ein weiteres Top-Kletterziel in Europa, das vor allem durch
        sein sonniges Klima und seine abwechslungsreichen Landschaften besticht.
        Ob man lieber an Tuffas oder an Sinters klettert, ob man kurze oder
        lange Routen sucht, ob man einfach oder schwer unterwegs ist - hier
        findet man für jeden etwas. Einige der bekanntesten Klettergebiete sind
        z.B. Siurana, das als eines der besten Sportklettergebiete der Welt
        gilt, Montserrat, das für seine bizarren Felsnadeln bekannt ist, oder El
        Chorro, das für seine spektakuläre Hängebrücke berühmt ist.
      </p>
      <br />
      <%- include('../../partials/comment'); %>
    </div>
    <div class="small-images">
      <a href="/klettern/einfuehrung">
        <img src="/img/climbing_intro.jpg" />
        <p>Tipps und Tricks für Kletteranfänger</p>
      </a>
      <a href="/klettern/varianten">
        <img src="/img/climbing_variants.jpg" />
        <p>Varianten von Klettern als Sportart</p>
      </a>
    </div>
    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
