<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Varianten von Klettern als Sportart</title>
    <link rel="stylesheet" type="text/css" href="/styles/partialsStyle.css" />
    <link rel="stylesheet" type="text/css" href="/styles/article.css" />
    <link rel="stylesheet" type="text/css" href="/styles/comments.css" />
  </head>
  <body>
    <header><%- include('../../partials/head'); %></header>
    <div class="container">
      <img src="/img/climbing_variants.avif" alt="Kletterer am Berg" />
      <h1>Varianten von Klettern als Sportart</h1>
      <p>
        Klettern ist eine vielseitige Sportart, die verschiedene Formen und
        Stile umfasst. Je nachdem, wo, wie und mit wem man klettert, kann man
        unterschiedliche Herausforderungen und Erlebnisse haben. In diesem
        Artikel werden einige der Varianten von Klettern als Sportart
        vorgestellt.
      </p>
      <span class="subheading">Freiklettern</span>
      <p>
        Freiklettern ist die populärste Form des Kletterns, bei der man sich nur
        mit den eigenen Händen und Füßen am Fels festhält und nur das Seil zur
        Sicherung benutzt. Freiklettern kann sowohl am Fels als auch in der
        Halle betrieben werden, wobei es verschiedene Schwierigkeitsgrade gibt.
        Freiklettern erfordert Kraft, Technik und Mut.
      </p>
      <span class="subheading">Bouldern</span>
      <p>
        Bouldern ist das Klettern ohne Seilsicherung in Absprunghöhe, meist mit
        einer dicken Matte als Unterlage (Crashpad). Bouldern kann ebenfalls am
        Fels oder in der Halle ausgeübt werden, wobei die Routen, sogenannte
        Boulder, oft nur wenige Kletterzüge lang sind. Bouldern trainiert vor
        allem die Maximalkraft, die Koordination und die Kreativität.
      </p>
      <span class="subheading">Sportklettern</span>
      <p>
        Sportklettern ist eine Form des Freikletterns, bei der man an
        vorgebohrten Haken oder Ringen gesichert wird. Sportklettern ist vor
        allem auf die sportliche Leistung ausgerichtet, wobei es oft um das
        Durchsteigen einer Route im ersten Versuch (Onsight) oder nach mehreren
        Versuchen (Rotpunkt) geht. Sportklettern fördert die Ausdauer, die
        Schnelligkeit und die Konzentration.
      </p>
      <span class="subheading">Free Solo</span>
      <p>
        Free Solo ist die extremste Form des Freikletterns, bei der man ohne
        jegliche Sicherung klettert. Free Solo wird nur von sehr wenigen und
        sehr erfahrenen Kletterern praktiziert, da ein Fehler tödlich sein
        kann. Free Solo erfordert ein hohes Maß an Selbstvertrauen,
        Selbstkontrolle und Risikobereitschaft.
      </p>
      <br />
      <%- include('../../partials/comment'); %>
    </div>
    <div class="small-images">
      <a href="/klettern/einfuehrung">
        <img src="/img/climbing_intro.jpg" />
        <p>Tipps und Tricks für Kletteranfänger</p>
      </a>
      <a href="/klettern/klettergebiete">
        <img src="/img/climbing_area.jpg" />
        <p>Bekannte Klettergebiete in Deutschland oder Europa</p>
      </a>
    </div>
    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
